article {
	margin-left: 180px;
	width: 100%;
}
header {
	background-color: #fff;
	padding: 25px 31px 25px 25px;
}
.article__items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 100%;
}
.article__list {}
.article__link {
	color: #ed1c24;
	font-size: 11px;
	line-height: 11px;
	padding-bottom: 23px;
	border-bottom: 3px solid #ed1c24;
}
.article__user {
	color: #a6afb8;
	font-size: 11px;
	line-height: 11px;
}
.main {
	margin-top: 17px;
	margin-right:25px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.main__items {}
table {
	width: 629px;
	border-collapse: collapse;
}
th {
	text-transform: uppercase;
	font-size: 9px;
	color: #6E6E6F;
	line-height: 11px; 
	font-weight: 400;
	padding-bottom: 9px;
	padding-left: 25px;
}
.row {
	text-align: left;
	margin-left: 25px;

}
tr:not(:first-child) {
	background-color: #fff;
	border-top: 1px solid #C4C4C4;
	padding-left: 25px;
}
tr:last-child {
	border-bottom: 1px solid #C4C4C4;
}
tr:hover {
	cursor: pointer;
}
td {
	color: #6e6e6f;
	font-size: 11px;
	line-height: 11px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
}
.attr-text {
	padding-top: 2px;
	display: block;
}
.attr-text {
	text-transform: capitalize;
}
.no-table {
	margin-left: 25px;
}